/* html,
body {
    width: auto;
    height: auto;
} */

input {
    width: 150px;
    margin: 3px;
}

.container {
    background-color: #fff;
    box-shadow: 0 2px 3px 3px rgb(83, 83, 83);
    /* margin: 10% 40%; */
    margin-top: 5%
}

.title {
    /* background-color: rgb(146, 160, 175); */
   background: #8e9eab;
   /* fallback for old browsers */

   background: -webkit-linear-gradient(to top, #eef2f3, #8e9eab);
   /* Chrome 10-25, Safari 5.1-6 */

   background: linear-gradient(to top, #eef2f3, #8e9eab);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    letter-spacing: 1px;
    border-bottom: 2px solid #000;
}

.pawLogo {
    margin: 5% 5%;
}

.happy {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    text-align: center;
    margin-right: 20%;
    text-shadow: 3px 4px 5px rgb(100, 100, 100);
}

.pet {
    color: rgb(116, 62, 62);
    margin-right: 15px;
}

.hotel {
    margin-left: 42%;
    margin-top: -10px;
    letter-spacing: 2px;
}

.ownerInput {
    margin: 2% 25%;
}

.table {
    margin-top: 50px;
}

.petRowIn {
    margin-left: 18%;
}

.btnRow {
    margin: 10px 325px;
}

button {
    margin-left: 5px;
}

label,
th {
    font-family: 'Roboto', sans-serif;
}

thead {
    margin-left: 10px;
}